body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}

.background {
display: flex;
flex-direction: column;
width: 512px;
height: 772px;
background-color: brown;
border: 4px solid black;
border-radius: 8px;
}

#display {
    height: 120px;
    width: 490px;
    background-color: black;
    color: white;
    text-align: end;
    align-self: center;
    margin-top: 4px;
    border: 4px solid gray;
    border-radius: 8px;
    font-family: system-ui;
    font-size: 32px;
    padding-right: 8px;
}

.buttons {
    display: flex;
    width: 512px;
}

.operations {
    display: flex;
    flex-direction: column;
}

.button {
    height: 120px;
    width: 120px;
    margin: 4px;
    border: 4px solid black;
    border-radius: 8px;
    font-family: system-ui;
    font-size: 32px;
}

.button:hover {
    background-color: rgb(100, 100, 100);
}

.button:active {
    background-color: rgb(120, 120, 120);
}

#oppButton,
#equalButton {
    background-color: darkgray;
}

#oppButton:hover,
#equalButton:hover {
    background-color: rgb(100, 100, 100);
}

#oppButton:active,
#equalButton:active {
    background-color: rgb(120, 120, 120);
}

.zero#numButton {
    height: 120px;
    width: 248px;
}

.numpad {
    display: flex;
    flex-wrap: wrap;
}

.topButtons, 
.bottomButtons {
    display: flex;
}